/.venv/
/.idea/
/__pycache__/
/utilities/__pycache__
/bots/twitch/components/__pycache__
/bots/twitch/__pycache__
/bots/discord/__pycache__
resources/twitch_cfg.json
resources/twitch_cmds.json
resources/livesplit_server_cfg.json
tokens.db
tokens.db-shm
tokens.db-wal
.tio.tokens.json
resources/obs_cfg.json
/resources/src_config.json
/bots/__pycache__
